// @use '../../../../assets/variables.scss';

.aaa {
	margin-top: 15%;
}

.iconoRes {
	display: none;
}

.example-spacer {
	flex: 1 1 auto;
}

.mat-container {
	padding: 0px 6%;
	background-color: white;
	box-shadow: 0px 7px 15px 0px #00000008;
	border-bottom: 1px solid rgb(238, 238, 238);
	height: 100px;
}

@media screen and (max-width: 1000px) {
	lib-fomento-cabecera {
		display: none;
	}

	lib-fomento-menu.responsive {
		display: block;
		position: absolute;
		top: 7.5rem;
	}

	lib-fomento-menu {
		display: none;
		z-index: 2;
	}

	.iconoRes {
		display: block;
		position: absolute;
		top: 3.75rem;
		font-size: 1.25rem;
		right: 50px;
		color: #087021;
	}

	.mat-container {
		height: 60px;
		box-shadow: none;
		border-bottom: 1px solid #d8d8d8;
	}

	.example-spacer {
		flex: none;
	}

	.barraH {
		position: absolute;
		width: 100vw;
		display: none;
		background-color: white;
		z-index: 1;
		border-bottom: 1px solid #d8d8d8;
	}
}
