<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<div *ngIf="typeStyle === 'material'">
  <mat-form-field appearance="outline" class="matInputJunta">
    <input
      matInput
      [type]="type"
      [value]="value"
      [placeholder]="placeholder"
      [style.width]="width_input"
      [id]="id"
      [name]="name"
      [disabled]="disabled"
    />
  </mat-form-field>
  <button mat-button color="primary" class="buttonInput">
    {{ button_label }}
    <mat-icon color="{{ button_icon_theme }}">{{ button_icon }}</mat-icon>
  </button>
</div>
<label class="errorLabel" for="{{ id }}">{{ input_msgError }}</label>
